<nav>
    <ul>
        <% navData.forEach(nav=> { %>
            <li>
                <a href="<%= nav.url %>">
                    <%= nav.name %>
                </a>
            </li>
            <% }) %>
    </ul>
</nav>